<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project2">

    <application
        android:theme="@style/Theme.Project2"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".EditCourseActivity"
            android:exported="false" />

        <activity
            android:name=".AddCourseActivity"
            android:exported="false" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".LandingPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
